body {
  background-color: #222;
  height: 100%;
}

main {

  .metadata{
    color: #ddd;
  
    #domain {
      font-weight: bold;
    }

    #byline {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  article {
    background-color: white;
    // height: 60vh; TODO
    overflow: hidden;
  
    // for github
    .anchor, .header-anchor {
      display: none;
    }
  }

  aside {
    p {
      color: #eee;
    }
  }

}
