html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color', content='#111')

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/themindstorm/readability-ui@latest/output/all.css")
    //- link(rel="stylesheet", href="./assets/scss/mixins.scss")
    block styles

    title #{title}

  body(data-theme='light' data-font='sansserif')
    block content

    block script

    