extends _template.pug

block styles
  link(rel="stylesheet", href="./assets/scss/index.scss")
  link(rel="stylesheet", href="./assets/scss/article.scss")

block content
  main
    .metadata.wrapper
      .first-row
        #domain Loading domain ...
        img(src="https://img.icons8.com/material/24/dddddd/font-style-formatting.png")#customization-options

      #customization-toggles
        .button-group
          button#theme_toggle.black Dark theme
          button#font_toggle.red Serif font

      h1#title Loading title ...

      #byline
        span#author Loading author ...
        span#date_published Loading date ...

      
    article#content.wrapper
      h2 Your article is loading ...
      p This should not take more than 3 seconds ...

    aside.wrapper
      p 
        | Please support the content creators at the 
        a#original(href="" target="_blank") original website
        | .
      include _components/_form.pug

      p
        a(href="https://github.com/themindstorm/reader" target="_blank").button.black GitHub

block script
  script(src="./scripts/article.js")

  //- because form embedded at bottom
  script(src="./scripts/form.js")

  //- theme customization
  script(src="./scripts/custom.js")
    
