extends _template.pug

block styles
  link(rel="stylesheet", href="./assets/scss/index.scss")

block content
  aside#aside.wrapper
    h1 Readable
    include _components/_form.pug

block script
  script(src="./scripts/form.js")